{% extends "layout.html" %}
{% block content %}
		<h1>Rumpelstiltskin</h1>
		<h4>by brother's Grimm</h4>
		<hr>

<div class='fairytale'>
		<article>
		<h5>CHAPTER I</h5>
		<p>
		Once there was a miller who was poor,<br>
		but who had a beautiful daughter.<br>
		Now it happened that he had to go and speak to the king,<br>
		and in order to make himself appear important he said to him,<br>
		<i>"I have a daughter who can spin straw into gold."</i>
		</p>

		<p>
		The king said to the miller,<br>
		"That is an art which pleases me well,<br>
		if your daughter is as clever as you say,<br>
		bring her to-morrow to my palace, and I will put her to the test."<br>
		And when the girl was brought to him he took her into a room<br>
		which was quite full of straw,<br>
		gave her a spinning-wheel and a reel, and said,<br>
		<i>"Now set to work, and if by tomorrow morning early<br>
		you have not spun this straw into gold during the night,<br>
		you must die."</i>
		</p>

		<p>
		Thereupon he himself locked up the room, and left her in it alone.<br>
		So there sat the poor miller's daughter,<br>
		and for the life of her could not tell what to do,<br>
		she had no idea how straw could be spun into gold,<br>
		and she grew more and more frightened,<br>
		until at last she began to weep.
		</p>

		<p>
		But all at once the door opened,<br>
		and in came a little man, and said,<br>
		<i>"Good evening, mistress miller,<br>
		why are you crying so?"</i>
		</p>

		<p>
		<i>"Alas,"</i> answered the girl,<br>
		<i>"I have to spin straw into gold,<br>
		and I do not know how to do it."
		"What will you give me,"</i> said the manikin,<br>
		<i>"if I do it for you?"
		"My necklace,"</i> said the girl.
		<p>

		<p>
		The little man took the necklace,<br>
		seated himself in front of the wheel, and<br>
		<i>whirr, whirr, whirr</i>,<br>
		three turns, and the reel was full,
		then he put another on,and<br>
		<i>whirr, whirr, whirr</i>,<br>
		three times round, and the second was full too.<br>
		And so it went on until the morning,<br>
		when all the straw was spun, <br>
		and all the reels were full of gold.
		</p>

		<article>
		<h5>CHAPTER II</h5>

		<p>
		By daybreak the king was already there,<br>
		and when he saw the gold he was astonished and delighted,<br>
		but his heart became only more greedy.<br>
		He had the miller's daughter taken into another room<br>
		full of straw, which was much larger,<br>
		and commanded her to spin that also in one night<br>
		if she valued her life.<br>
		</p>

		<p>
		The girl knew not how to help herself, and was crying,<br>
		when the door opened again, and the little man appeared, and said,<br>
		<i>"What will you give me if I spin that straw into gold for you?"<br>
		"The ring on my finger,"</i> answered the girl.<br>
		The little man took the ring,<br>
		again began to turn the wheel,<br>
		and by morning had spun all the straw into glittering gold.<br>
		</p>

		<p>
		The king rejoiced beyond measure at the sight,<br>
		but still he had not gold enough,<br>
		and he had the miller's daughter taken into a still larger room<br>
		full of straw, and said,<br>
		<i>"You must spin this, too, in the course of this night,<br>
		but if you succeed, you shall be my wife."</i><br>
		Even if she be a miller's daughter, thought he,<br>
		I could not find a richer wife in the whole world.<br>
		</p>

		<p>
		When the girl was alone<br>
		the manikin came again for the third time, and said,<br>
		<i>"What will you give me if I spin the straw for you this time also?"<br>
		"I have nothing left that I could give,"</i>answered the girl.<br>
		<i>"Then promise me, if you should become queen,<br>
		to give me your first child."</i><br>
		Who knows whether that will ever happen,<br>
		thought the miller's daughter, and,<br>
		not knowing how else to help herself in this strait,<br>
		she promised the manikin what he wanted,<br>
		and for that he once more spun the straw into gold.<br>
		And when the king came in the morning, and found all as he had wished,<br>
		he took her in marriage,<br>
		and the pretty miller's daughter became a queen.
		</p>


		<article>
		<h5>CHAPTER III</h5>

		<p>
		A year after,<br>
		she brought a beautiful child into the world,<br>
		and she never gave a thought to the manikin.<br>
		</p>

		<p>
		But suddenly he came into her room, and said,<br>
		<i>"Now give me what you promised."</i><br>
		The queen was horror-struck,<br>
		and offered the manikin all the riches of the kingdom<br>
		if he would leave her the child.<br>
		But the manikin said,<br>
		<i>"No, something alive is dearer to me<br>
		than all the treasures in the world."</i><br>
		Then the queen began to lament and cry,<br>
		so that the manikin pitied her.<br>
		<i>"I will give you three days, time,"</i>said he,<br>
		<i>"if by that time you find out my name,<br>
		then shall you keep your child."</i><br>
		</p>

		<p>
		So the queen thought the whole night<br>
		of all the names that she had ever heard,<br>
		and she sent a messenger over the country to inquire,<br>
		far and wide,<br>
		for any other names that there might be.<br>
		</p>

		<p>
		When the manikin came the next day, she began with<br>
		<b>Caspar</b>, <b>Melchior</b>, <b>Balthazar</b>,<br>
		and said all the names she knew,<br>
		one after another,<br>
		but to every one the little man said,<br>
		<i>"That is not my name."</i><br>
		</p>

		<p>
		On the second day<br>
		she had inquiries made in the neighborhood<br>
		as to the names of the people there,<br>
		and she repeated to the manikin the most uncommon and curious.<br>
		Perhaps your name is<br>
		<b>Shortribs</b>, or <b>Sheepshanks</b>, or <b>Laceleg</b>,<br>
		but he always answered,<br>
		<i>"That is not my name."</i><br>
		</p>

		<article>
		<h5>CHAPTER IV</h5>
		<p>
		On the third day the messenger came back again, and said,<br>
		<i>"I have not been able to find a single new name,<br>
		but as I came to a high mountain at the end of the forest,<br>
		where the fox and the hare bid each other good night,<br>
		there I saw a little house,<br>
		and before the house a fire was burning,<br>
		and round about the fire quite a ridiculous little man was jumping,<br>
		he hopped upon one leg, and shouted -<br>
		'To-day I bake, to-morrow brew,<br>
		the next I'll have the young queen's child.<br>
		Ha, glad am I that no one knew<br>
		that <b>Rumpelstiltskin</b> I am styled.'"</i>
		</p>

		<p>
		You may imagine how glad the queen was when she heard the name.<br>
		And when soon afterwards the little man came in, and asked,<br>
		<i>"Now, mistress queen, what is my name?"</i><br>
		At first she said,<br>
		<i>"Is your name <b>Conrad</b>?"<br>
		"No."<br>
		"Is your name <b>Harry</b>?"<br>
		"No."<br>
		"Perhaps your name is <b>Rumpelstiltskin</b>?"<br>
		"The devil has told you that! The devil has told you that,"<br>
		cried the little man, and in his anger<br>
		he plunged his right foot so deep into the earth<br>
		that his whole leg went in,<br>
		and then in rage he pulled at his left leg so hard with both hands<br>
		that he tore himself in two.</i>
		</p>
	</div>
{% endblock content %}
